#Supabase env vars
VITE_SUPABASE_URL=supabase_url_placeholder
VITE_SUPABASE_PUBLISHABLE_KEY=supabase_publishable_key_placeholder
VITE_SUPABASE_ANON_KEY=supabase_anon_key_placeholder

# API URL (FastAPI). Localhost example: http://localhost:8000. Render example: https://<placeholder-name>.onrender.com
VITE_API_URL=backend_api_url_placeholder
